body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #fafafe;
}

h1 {
  font-family: "Proza Libre", sans-serif;
}
a {
  text-decoration: none;
}
.customContainer {
  margin-left: 17vw;
  width: 80vw;
  margin-top: 13vh;
}

button {
  background: none;
  border: 1px solid rgb(130, 130, 243);
  padding: 20px;
  min-width: 90px;
  font-family: "Open Sans";
  letter-spacing: 1px;
  margin: 2px;
}

button:hover {
  background-color: rgb(130, 130, 243);
  color: white;
  transition: 0.4s;
}

button:focus {
  outline: none;
}

input {
  background-color: #ecebf6;
  border: none;
  min-height: 60px;
}
input:focus {
  outline: none;
}

select {
  background: none;
}
option {
  background: none;
}
