body {
  overflow-x: hidden;
  background-color: #fafafe;
}

h1 {
  font-family: "Proza Libre", sans-serif;
}
a {
  text-decoration: none;
}
.customContainer {
  margin-left: 17vw;
  width: 80vw;
  margin-top: 13vh;
}

button {
  background: none;
  border: 1px solid rgb(130, 130, 243);
  font-family: "Open Sans";
  color: rgb(130, 130, 243);
  letter-spacing: 1px;
}

button.danger {
  color: rgb(252, 118, 164);
  border: 1px solid rgb(252, 118, 164);
}
button.danger:hover {
  background-color: rgb(252, 118, 164);
  color: white;
  transition: 0.4s;
}

button:hover,
.selected {
  background-color: rgb(130, 130, 243);
  color: white;
  transition: 0.4s;
}

button:focus {
  outline: none;
}

input {
  background-color: #ecebf6;
  border: none;
  min-height: 60px;
  font-size: 17px;
  width: 90%;
}
input:focus {
  outline: none;
}

select {
  background: none;
}
option {
  background: none;
}
